<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.KyRecordMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.KyRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="platUserName" column="plat_user_name" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="gameId" column="game_id" jdbcType="VARCHAR"/>
            <result property="gameName" column="game_name" jdbcType="VARCHAR"/>
            <result property="effectiveBet" column="effective_bet" jdbcType="DECIMAL"/>
            <result property="allBet" column="all_bet" jdbcType="DECIMAL"/>
            <result property="profit" column="profit" jdbcType="DECIMAL"/>
            <result property="gameStartTime" column="game_start_time" jdbcType="TIMESTAMP"/>
            <result property="gameEndTime" column="game_end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,plat_user_name,
        order_no,game_id,game_name,
        effective_bet,all_bet,profit,
        game_start_time,game_end_time,create_time,
        update_time
    </sql>

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO t_ky_record(
            user_name,plat_user_name,
            order_no,game_id,game_name,
            effective_bet,all_bet,profit,
            game_start_time,game_end_time,create_time,
            update_time
        )
        values
        <foreach collection="list" item="i" separator=",">
            (
            #{i.userName}, #{i.platUserName}, #{i.orderNo}, #{i.gameId}, #{i.gameName},
            #{i.effectiveBet}, #{i.allBet}, #{i.profit}, #{i.gameStartTime}, #{i.gameEndTime}, #{i.createTime},
            #{i.updateTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_time = VALUES(update_time)
    </insert>
</mapper>
