<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.LotteryHandicapMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.LotteryHandicap">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="handicapCode" column="handicap_code" jdbcType="VARCHAR"/>
            <result property="handicapName" column="handicap_name" jdbcType="VARCHAR"/>
            <result property="lotteryCode" column="lottery_code" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="pxh" column="pxh" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,handicap_code,handicap_name,
        lottery_code,create_time,update_time,
        remark,pxh,status
    </sql>
</mapper>
