<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.LotteryPlayMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.LotteryPlay">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="playCode" column="play_code" jdbcType="VARCHAR"/>
            <result property="playName" column="play_name" jdbcType="VARCHAR"/>
            <result property="lotteryCode" column="lottery_code" jdbcType="VARCHAR"/>
            <result property="handicapCode" column="handicap_code" jdbcType="VARCHAR"/>
            <result property="wfts" column="wfts" jdbcType="VARCHAR"/>
            <result property="zjsm" column="zjsm" jdbcType="VARCHAR"/>
            <result property="fl" column="fl" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="pxh" column="pxh" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,play_code,play_name,
        lottery_code,handicap_code,wfts,
        zjsm,fl,create_time,
        update_time,pxh,status
    </sql>
</mapper>
