<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.LotteryOddsMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.LotteryOdds">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="hm_code" column="hm_code" jdbcType="VARCHAR"/>
            <result property="hm_name" column="hm_name" jdbcType="VARCHAR"/>
            <result property="odds" column="odds" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="lottery_code" column="lottery_code" jdbcType="VARCHAR"/>
            <result property="handicap_code" column="handicap_code" jdbcType="VARCHAR"/>
            <result property="play_code" column="play_code" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="pxh" column="pxh" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hm_code,hm_name,
        odds,status,lottery_code,
        handicap_code,play_code,create_time,
        update_time,pxh
    </sql>
</mapper>
