<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.LotteryOrderMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.LotteryOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="lotteryCode" column="lottery_code" jdbcType="VARCHAR"/>
            <result property="lotteryName" column="lottery_name" jdbcType="VARCHAR"/>
            <result property="handicapCode" column="handicap_code" jdbcType="VARCHAR"/>
            <result property="playCode" column="play_code" jdbcType="VARCHAR"/>
            <result property="playName" column="play_name" jdbcType="VARCHAR"/>
            <result property="betContent" column="bet_content" jdbcType="VARCHAR"/>
            <result property="odds" column="odds" jdbcType="DECIMAL"/>
            <result property="qs" column="qs" jdbcType="VARCHAR"/>
            <result property="betAmount" column="bet_amount" jdbcType="DECIMAL"/>
            <result property="bonusAmount" column="bonus_amount" jdbcType="DECIMAL"/>
            <result property="profitAmount" column="profit_amount" jdbcType="DECIMAL"/>
            <result property="betTime" column="bet_time" jdbcType="TIMESTAMP"/>
            <result property="settleTime" column="settle_time" jdbcType="TIMESTAMP"/>
            <result property="settleStatus" column="settle_status" jdbcType="INTEGER"/>
            <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
            <result property="openResult" column="open_result" jdbcType="VARCHAR"/>
            <result property="openResultTime" column="open_result_time" jdbcType="TIMESTAMP"/>
            <result property="settleGroup" column="settle_group" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,order_no,
        lottery_code,lottery_name,handicap_code,
        play_code,play_name,bet_content,
        odds,qs,bet_amount,
        bonus_amount,profit_amount,bet_time,
        settle_time,settle_status,order_status,
        open_result,open_result_time,settle_group
    </sql>
</mapper>
