<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.LotteryOddsMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.LotteryOdds">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="hmCode" column="hm_code" jdbcType="VARCHAR"/>
            <result property="hmName" column="hm_name" jdbcType="VARCHAR"/>
            <result property="odds" column="odds" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="lotteryCode" column="lottery_code" jdbcType="VARCHAR"/>
            <result property="handicapCode" column="handicap_code" jdbcType="VARCHAR"/>
            <result property="handicapName" column="handicap_name" jdbcType="VARCHAR"/>
            <result property="playCode" column="play_code" jdbcType="VARCHAR"/>
            <result property="playName" column="play_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="pxh" column="pxh" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hm_code,hm_name,
        odds,status,lottery_code,
        handicap_code,handicap_name,play_code,
        play_name,create_time,update_time,
        pxh,group_name
    </sql>
</mapper>
