<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.PlatformMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.Platform">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="plat_code" column="plat_code" jdbcType="VARCHAR"/>
            <result property="sub_plat_code" column="sub_plat_code" jdbcType="VARCHAR"/>
            <result property="plat_name" column="plat_name" jdbcType="VARCHAR"/>
            <result property="ratio" column="ratio" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="maintenance_status" column="maintenance_status" jdbcType="INTEGER"/>
            <result property="maintenance_msg" column="maintenance_msg" jdbcType="VARCHAR"/>
            <result property="img1" column="img1" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="pxh" column="pxh" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,plat_code,sub_plat_code,
        plat_name,ratio,status,
        maintenance_status,maintenance_msg,img1,
        create_time,update_time,remark,
        pxh
    </sql>
</mapper>
