<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.SbRecordMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.SbRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="platUserName" column="plat_user_name" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="gameName" column="game_name" jdbcType="VARCHAR"/>
            <result property="wtype" column="wtype" jdbcType="VARCHAR"/>
            <result property="rtype" column="rtype" jdbcType="VARCHAR"/>
            <result property="tnameHome" column="tname_home" jdbcType="VARCHAR"/>
            <result property="tnameAway" column="tname_away" jdbcType="VARCHAR"/>
            <result property="league" column="league" jdbcType="VARCHAR"/>
            <result property="ioratio" column="ioratio" jdbcType="DECIMAL"/>
            <result property="effectiveBet" column="effective_bet" jdbcType="DECIMAL"/>
            <result property="allBet" column="all_bet" jdbcType="DECIMAL"/>
            <result property="profit" column="profit" jdbcType="DECIMAL"/>
            <result property="betTime" column="bet_time" jdbcType="TIMESTAMP"/>
            <result property="settleTime" column="settle_time" jdbcType="TIMESTAMP"/>
            <result property="settleStatus" column="settle_status" jdbcType="INTEGER"/>
            <result property="resultStatus" column="result_status" jdbcType="VARCHAR"/>
            <result property="resultScore" column="result_score" jdbcType="VARCHAR"/>
            <result property="oddsFormat" column="odds_format" jdbcType="VARCHAR"/>
            <result property="parlaynum" column="parlaynum" jdbcType="INTEGER"/>
            <result property="parlaysub" column="parlaysub" jdbcType="VARCHAR"/>
            <result property="rawData" column="raw_data" jdbcType="VARCHAR"/>
            <result property="resettlementinfo" column="resettlementinfo" jdbcType="VARCHAR"/>
            <result property="isLive" column="is_live" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="matchDatetime" column="match_datetime" jdbcType="TIMESTAMP"/>
            <result property="betContent" column="bet_content" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,plat_user_name,
        order_no,game_name,wtype,
        rtype,tname_home,tname_away,
        league,ioratio,effective_bet,
        all_bet,profit,bet_time,
        settle_time,settle_status,result_status,
        result_score,odds_format,parlaynum,
        parlaysub,raw_data,resettlementinfo,
        is_live,create_time,update_time,
        match_datetime,bet_content,score
    </sql>

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO t_sb_record(
        user_name,plat_user_name,
        order_no,game_name,wtype,rtype,
        tname_home,tname_away,league,
        ioratio,effective_bet,all_bet,
        profit,bet_time,settle_time,
        settle_status,result_status,result_score,
        odds_format,parlaynum,parlaysub,
        raw_data,resettlementinfo,is_live,
        create_time,update_time,match_datetime,bet_content,score
        )
        values
        <foreach collection="list" item="i" separator=",">
            (
            #{i.userName}, #{i.platUserName}, #{i.orderNo}, #{i.gameName}, #{i.wtype}, #{i.rtype}, #{i.tnameHome}, #{i.tnameAway}, #{i.league}, #{i.ioratio},
            #{i.effectiveBet}, #{i.allBet}, #{i.profit}, #{i.betTime}, #{i.settleTime},#{i.settleStatus},
            #{i.resultStatus},#{i.resultScore},#{i.oddsFormat}, #{i.parlaynum},#{i.parlaysub},#{i.rawData},#{i.resettlementinfo},#{i.isLive},#{i.createTime},#{i.updateTime},
            #{i.matchDatetime},#{i.betContent},#{i.score}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        ioratio = VALUES(ioratio),
        effective_bet = values(effective_bet),
        all_bet = values(all_bet),
        profit = values(profit),
        bet_time = values(bet_time),
        settle_time = values(settle_time),
        result_status = values(result_status),
        result_score = values(result_score),
        parlaynum = values(parlaynum),
        parlaysub = values(parlaysub),
        raw_data = values(raw_data),
        resettlementinfo = values(resettlementinfo),
        update_time = values(update_time),
        match_datetime = values(match_datetime),
        bet_content = values(bet_content),
        score = values(score)
    </insert>
</mapper>
