<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.commons.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.gs.commons.entity.UserInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="balance" column="balance" jdbcType="DECIMAL"/>
            <result property="yebBalance" column="yeb_balance" jdbcType="DECIMAL"/>
            <result property="yebInterest" column="yeb_interest" jdbcType="DECIMAL"/>
            <result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
            <result property="payPwd" column="pay_pwd" jdbcType="VARCHAR"/>
            <result property="loginStatus" column="login_status" jdbcType="INTEGER"/>
            <result property="payStatus" column="pay_status" jdbcType="INTEGER"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
            <result property="referralCode" column="referral_code" jdbcType="VARCHAR"/>
            <result property="avatarId" column="avatar_id" jdbcType="INTEGER"/>
            <result property="levelId" column="level_id" jdbcType="INTEGER"/>
            <result property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
            <result property="lastIp" column="last_ip" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="registerIp" column="register_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,nick_name,
        real_name,balance,yeb_balance,
        yeb_interest,login_pwd,pay_pwd,
        login_status,pay_status,user_phone,
        user_agent,referral_code,avatar_id,
        level_id,group_id,create_time,
        update_time,last_time,last_ip,
        remark,register_ip
    </sql>
</mapper>
